#QuestionDetails li{
    list-style-type: none;
    text-decoration: none;
    
}
#link{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
@media screen and (max-width: 680px) {
#content{
    padding-left: 0px;
    font-size: 20px;
    margin-left: 0px;
}}