{% extends 'polls/base.html' %}
{% load static %}


{% block title %}
    {{ user.username }}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/accountstyle.css' %}">
{% endblock head %}

{% block content %}
    <h1>Account Information</h1>
    <table>
        <tr>
            <td>Username:</td><td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email:</td><td>{{ user.email }}</td>
        </tr>
    </table>

{% endblock content %}