{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/basestyle.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>

        <div id="TopBar">
            <a href="{% url 'polls:index' %}">
                <h1>
                    <img src="{% static 'polls/images/pollsIcon.svg' %}" alt="" srcset="">
                    Polls
                </h1>
            </a>
            {% if logged %}
                <div id="Logged">
                    <div class="navElem">
                        <a href="{% url 'polls:account' %}">My Account</a>
                    </div>
                    <div class="navElem">
                        <a href="{% url 'polls:logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div id="NotLogged"> 
                    <div class="navElem">
                        <a href="{% url 'polls:signIn' %}">Sign In</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <br><br><br><br><br>
    </body>
</html>
{% block scripts %}
{% endblock %}