{% extends 'polls/base.html' %}
{% load static %}


{% block title %}
    Question{{question.id}}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/detailstyle.css' %}">
{% endblock head %}

{% block content %}
    <div id='Question'>
        <h1>
            Q) {{ question.question_text }}
        </h1>
        <div id='PublishInfo'>
            -{{ question.publisher }}<br>
            {{ question.pub_date }}
        </div>
    </div>
    <br>
    <br>

    {% if error_message %}
        <div class='vibrate' id='error'>
            {{error_message}}
        </div>
        <br>
        <br>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="radio-toolbar">
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id ="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        <br>
    {% endfor %}
    </div>
    <br>    
    <input type="submit" value="Vote">
    </form>
{% endblock content %}