{% extends 'polls/base.html' %}
{% load static %}

{% block title %}
    Recent questions
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/indexstyle.css' %}">
{% endblock head %}

{% block content %}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <div id='QuestionDetails' class="block">
                <li>
                    <a href="{% url 'polls:detail' question.id %}">
                        <div class='publisher'>-{{ question.publisher }}</div>
                        <div class='question'>Q) {{ question.question_text }}</div>
                        <br><br>{{ question.pub_date }}
                    </a>
                </li>
            </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No Polls Available.</p>
{% endif %}
{% endblock content %}