{% extends 'polls/base.html' %}
{% load static %}

{% block title %}
    Sign In
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/signInstyle.css' %}">
{% endblock head %}

{% block content %}
    <center>
        <div class="LoginForm">
            <h1>Sign In</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="button">Login</button>
            </form>
            Don't have an account? <a href="#">Sign Up Here!</a>
        </div>
    </center>
{% endblock content %}